<!DOCTYPE html>
<style>
    a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        color: rgb(0, 0, 0);
        border: 4px solid rgb(248, 248, 248);
        border-style: groove;
    }
    form {
      background-color: rgb(0, 105, 119);
    }
    h1{
        color: rgb(8, 8, 8);
    }
    form{
      color: rgb(255, 255, 255);
      margin-left: 40px;
    }
    form {
     border: 2px solid black;
     border-collapse: separate;
}
</style>
<html lang="en">
        <h1>Send Message</h1>
    <nav>
        <a href="/lab-4/">home</a>
        <a href="/lab-4/note-list">card look</a>
    </nav>
    <div>
        <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="add">
    </div>
</form>