<!DOCTYPE html>
<style>
    nav,a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        color: whitesmoke;
        border: 2px solid rgb(0, 0, 0);
        border-collapse: collapse;
    }
    body {
      background-color: rgb(0, 105, 119);
    }
    
    table{
      color: rgb(255, 244, 244);
      margin-left: 40px;
    }
    table, th, td{
     border: 5px solid rgb(0, 146, 110);
     border-collapse: separate;
}
    </style>
<html lang="en">
    <nav>
        <a href="/lab-4/">home</a>
        <a href="/lab-4/add-note">add Note</a>
    </nav>
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <h2>Messages</h2>
  <body>
    <table>
        {% for Note in Notes %}
      <tr>
        <th>to</th>
        <td>{{ Note.to }}</td>
      </tr>
      <tr>
        <th>From</th>
        <td>{{ Note.From }}</td>
      </tr>
      <tr>
        <th>tittle</th>
        <td>{{ Note.tittle }}</td>
      </tr>
      <tr>
        <th>Message</th>
        <td>{{ Note.message }}</td>
      </tr>
      <!-- TODO loop from Friend model -->
      {% endfor %}
    </table>
  </body>
</html>