<!DOCTYPE html>
<style>
  head {
      background-color: rgb(20, 19, 19);
    }
  body {
      background-color: rgb(23, 158, 147);
  }
  nav,a{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        color: whitesmoke;
        border: 2px solid rgb(0, 0, 0);
        border-collapse: collapse;
    }
    
    table{
      color: rgb(247, 247, 247);
      margin-left: 40px;
    }
    </style>
<html lang="en">
  <head>
    <nav>
      <a href="/lab-4/note-list">card look</a>
      <a href="/lab-4/add-note">add_note</a>
  </nav>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>From</th>
        <th>tittle</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for Note in Notes %}
      <tr>
        <td>{{ Note.to }}</td>
        <td>{{ Note.From }}</td>
        <td>{{ Note.tittle }}</td>
        <td>{{ Note.message }}</td>
      </tr>{% endfor %}
    </table>
  </body>
</html>