<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>From</th>
        <th>tittle</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for Note in Notes %}
      <tr>
        <td>{{ Note.to }}</td>
        <td>{{ Note.From }}</td>
        <td>{{ Note.tittle }}</td>
        <td>{{ Note.message }}</td>
      </tr>{% endfor %}
    </table>
  </body>
</html>